<ul class="comics">
	<li class="comic-wrapper">
		<div class="comic row">
			<div class="info twelve columns">
				<a href="#" class="permalink">permalink</a>
				<p class="date">15 January 2008</p>
			</div>
			<div class="twelve columns">
				<ul class="frames block-grid mobile <%= true ? 'two-up' : 'one-up' %>">
					<li class="frame">
						<%= image_tag 'sample_comic_frames/1.png' %>
					</li>
					<li class="frame">
						<%= image_tag 'sample_comic_frames/2.png' %>
					</li>
					<li class="frame">
						<%= image_tag 'sample_comic_frames/3.png' %>
					</li>
					<li class="frame">
						<%= image_tag 'sample_comic_frames/4.png' %>
					</li>
				</ul>
				<h3 class="title">Skip and Cal Classics, #1: "Warming"</h3>
				<div class="description">
					<p>This is the "pilot" of Skip &amp; Cal, so to speak. It was drawn over winter break of 2007-2008 after the senior staff at the Cardinal Courier offered to let me do a comic strip with subject matter of my own choosing in addition to the editorial cartoon I’d started doing that semester. It’s also the only strip ever to be done in color.

					<p>I don’t remember if this strip actually ended up in an issue of the Courier or not, but it does mark the official naming of my squirrel and cardinal characters as "Skip Squirrel" and "Cal Cardinal" (which were coined by my dad, actually). (Note, however, that this wasn’t actually the first appearance of the characters themselves. They’d been appearing in the editorial cartoons in some form or another since I started drawing them. In fact, their personalities pretty much solidified in their first strip together, which you can see here.)

					<p>This strip also marks (as of this writing) the only appearance of Cal's cousin Pert Penguin. He seems to be enjoying global climate change more than your average arctic creature.

					<p><i>Details Pro Tip:</i> Pay attention to Skip’s acorn from the first frame to the third. That squirrel does it even when he doesn’t mean to!

				</div>
			</div>
		</div>
	</li>

		<li class="comic-wrapper">
		<div class="comic row">
			<div class="info twelve columns">
				<a href="#" class="permalink">permalink</a>
				<p class="date">15 January 2008</p>
			</div>
			<div class="twelve columns">
				<ul class="frames block-grid mobile <%= false ? 'two-up' : 'one-up' %>">
					<li class="frame">
						<%= image_tag 'http://dl.dropbox.com/u/6648787/Storage/Cartoons/20080917lackmann.png' %>
					</li>
				</ul>
				<h3 class="title">Skip and Cal Classics, #1: "Warming"</h3>
				<div class="description">
					<p>This is the "pilot" of Skip &amp; Cal, so to speak. It was drawn over winter break of 2007-2008 after the senior staff at the Cardinal Courier offered to let me do a comic strip with subject matter of my own choosing in addition to the editorial cartoon I’d started doing that semester. It’s also the only strip ever to be done in color.

					<p>I don’t remember if this strip actually ended up in an issue of the Courier or not, but it does mark the official naming of my squirrel and cardinal characters as "Skip Squirrel" and "Cal Cardinal" (which were coined by my dad, actually). (Note, however, that this wasn’t actually the first appearance of the characters themselves. They’d been appearing in the editorial cartoons in some form or another since I started drawing them. In fact, their personalities pretty much solidified in their first strip together, which you can see here.)

					<p>This strip also marks (as of this writing) the only appearance of Cal's cousin Pert Penguin. He seems to be enjoying global climate change more than your average arctic creature.

					<p><i>Details Pro Tip:</i> Pay attention to Skip’s acorn from the first frame to the third. That squirrel does it even when he doesn’t mean to!

				</div>
			</div>
		</div>
	</li>

</ul>