<li class="comic-wrapper">
	<div class="comic row">
		<div class="info twelve columns">
			<p class="permalink">
				<% if admin? %>
					<%= link_to 'edit', edit_comic_path(comic) %> / 
					<%= link_to 'delete', comic, method: :delete, confirm: "Woah, wait a minute. Are you sure?"%> / 
				<% end %>
				<%= link_to 'permalink', comic_path(comic) %>
			</p>
			<p class="date">
				<%= link_to((comic.published_at.to_formatted_s(:long) || comic.created_at.to_formatted_s(:long)), comic_path(comic)) %>
				<% if admin? && !comic.published? %>
					 - <span style="color: red;">NOT PUBLISHED</span>
				<% end %>
			</p>
		</div>
		<div class="twelve columns">
			<ul class="frames block-grid mobile <%= (comic.frames.count > 1) ? 'two-up' : 'one-up' %>">
				<% i = 0 %>
				<% comic.frames.each do |frame| %>
				<% i += 1 %>
				<li class="frame" style="<%= (i == 3) ? 'clear: left;' : '' %>">
					<%= image_tag frame.image.url(:medium), alt: frame.alt_text, title: frame.title_text %>
				</li>
				<% end %>
			</ul>
			<p class="title"><strong><%= markdown_inline comic.title %></strong></p>
			<div class="description">
				<%= markdown comic.description %>
			</div>
		</div>
	</div>
</li>