<%= provide(:title, 'Editing a comic') %>

<ul class="breadcrumbs">
	<li><a href="/">Comics</a></li>
	<li class="current"><a href="#">New Comic</a></li>
</ul>
<%= form_for(@comic, html: {class: 'nice', style: 'margin: 0;'}) do |f| %>
<ul class="comics">
	<li class="comic-wrapper">
		<div class="comic row">
			
				<div class="comic-info seven columns">

			    	<%= render 'layouts/error_messages', object: f.object %>

			      <%= render 'comics/fields', f: f %>

			      <%= f.submit "Create comic", :class => "large green radius button" %>
			      
			  </div>
			  <div class="frames five columns">
		    	<label>Categories</label>
		    	<ul class="comic_categories">
			    	<% Category.all.each do |category| %>
			    		<li class="comic_category">
				    	<%= check_box_tag 'comic[category_ids][]', category.id, @comic.categories.include?(category) %>
				    	<%= category.name %>
				    	</li>
				    <% end %>
				  </ul>
			  </div>
		  
		</div>
  </li>
</ul>
<% end %>