<% top = top || false %>

<div class="row <%= top ? 'show-on-desktops' : '' %>" id="<%= top ? 'top-controls' : 'bottom-controls' %>" style="margin-bottom: 13px">

	<div class="two columns">
		<%= link_to "â‡ first", comic_path(Comic.oldest(category), category: category ? category.slug : nil, anchor: 'top-controls'), class: "green medium radius button", style: "width: 100%; padding-left: 0; padding-right: 0;" unless Comic.oldest(category) == comic %>
	</div>

	<div class="three columns">
		<%= link_to "â† older", previous_path(comic, category: category, anchor: 'top-controls'), class: "large #{top ? 'green' : 'white' } radius button", style: "width: 100%; padding-left: 0; padding-right: 0;" if comic.previous(category) %>
	</div>

	<div class="two columns">
		<a href="#categories" class="<%= @category ? 'white' : 'green' %> medium radius button category_button" style="width: 100%; padding-left: 0; padding-right: 0;" title="Change category"><%= category ? category.name : "Everything" %></a>
	</div>

	<div class="three columns">
		<%= link_to "newer â†’", next_path(comic, category: category, anchor: 'top-controls'), class: "large #{ top ? 'green' : 'white' } radius button", style: "width: 100%; padding-left: 0; padding-right: 0;" if comic.next(category) %>
	</div>

		<div class="two columns">
		<%= link_to "last â‡’", comic_path(Comic.newest(category), category: category ? category.slug : nil, anchor: 'top-controls'), class: "green medium radius button", style: "width: 100%; padding-left: 0; padding-right: 0;" unless Comic.newest(category) == comic %>
	</div>

</div>