<footer>
	<p>This site was built with the <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> framework with editor <%= link_to 'Sublime Text 2', 'http://www.sublimetext.com/' %>. It is hosted on <%= link_to 'Heroku', 'http://www.heroku.com/' %> with images stored on and served by <%= link_to 'Amazon S3', 'http://aws.amazon.com/s3/' %>.</p>
	<p>All content &copy;2007-<%= Time.now.year %> <%= link_to 'John Pray', 'http://johnpray.com' %>, excluding those characters and concepts owned by other entities.</p>
</footer>