<nav id="main-nav">
<%= render 'layouts/controls', comic: @comic, category: @category if params[:controller] == 'comics' && params[:action] == 'show' %>
<div class="row">
  <hr class="twelve columns" />
</div>
<div class="row" id="nav">

  <div class="four columns" id="categories">
    <h2>Categories</h2>
    <ul class="unstyled">
      <li><%= link_to "Everything", comics_path %></li>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
  </div>

  <div class="four columns" id="other_things">
    <h2>Other Things</h2>
    <ul class="unstyled">
      <li><%= link_to "About", about_path %>
      <li><%= link_to "Twitter", 'http://twitter.com/SkipandCal' %> / <%= link_to "Facebook", 'http://facebook.com/skipandcal' %> / <a href="https://plus.google.com/110476821764875375411">Google+</a></li>
      <li><%= link_to 'Get Email Updates', 'http://feedburner.google.com/fb/a/mailverify?uri=skipandcal&amp;loc=en_US' %></li>
      <li><%= link_to 'RSS/Atom Feed', 'http://feeds.feedburner.com/skipandcal' %></li>
    	<li><%= link_to 'blog.johnpray', 'http://blog.johnpray.net/' %></li>
      <li style="display: none;"><a href="https://plus.google.com/116840789157501818840?rel=author">John Pray on Google+</a></li>
    </ul>
    <p>All content &copy; 2005-<%= Time.now.year %> John P. Pray (LouieGeetoo), excluding characters and concepts owned by other entities.</p>

    <% if admin? %>
    <ul class="unstyled">
      <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
    <% end %>

  </div>

  <div class="four columns" id="random_comic">
    <h2>Random Comic</h2>
    <% random_comic = Comic.random %>
    <%= link_to image_tag(random_comic.frames.first.image.url(:medium), style: 'width: 100%'), random_comic, title: "#{random_comic.summary} (Click to read)" unless random_comic.nil? || random_comic.frames.count < 1 %>
  </div>

</div></nav>