<div class="row">
  <hr class="twelve columns" />
</div>
<a id="controls"></a>
<nav><div class="row" id="nav">

  <div class="four columns">
    <h2>Categories</h2>
    <ul class="unstyled">
      <li><%= link_to "Everything", comics_path %></li>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
  </div>

  <div class="four columns">
    <h2>Other Things</h2>
    <ul class="unstyled">
      <li><%= link_to "Skip and Cal on Twitter", 'http://twitter.com/SkipandCal' %></li>
      <li><%= link_to "John Pray on Twitter", 'http://twitter.com/LouieGeetoo' %></li>
    	<li><%= link_to 'JohnPray.com', 'http://johnpray.com/' %> (old and outdated)</li>
    </ul>
    <p>All content &copy; 2005-<%= Time.now.year %> John P. Pray (LouieGeetoo), excluding characters and concepts owned by other entities.</p>

    <% if admin? %>
    <ul class="unstyled">
      <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    </ul>
    <% end %>

  </div>

  <div class="four columns">
    <h2>Random Comic</h2>
    <% random_comic = Comic.random %>
    <%= link_to image_tag(random_comic.frames.first.image.url(:medium), style: 'width: 100%'), random_comic, title: "#{random_comic.summary} (Click to read)" unless random_comic.nil? || random_comic.frames.count < 1 %>
  </div>

</div></nav>