<!DOCTYPE html>
<html>
	<head>
	  <%= render 'layouts/head' %>
	  <%= render 'layouts/analytics' if Rails.env.production? && !admin? %>
	</head>
	<body>
		<div class="container" id="content-container">
      <%= render 'layouts/ie6_warning' %>
      <%= render 'layouts/flash', flash: flash %>
      <header><div class="row" id="header">
        <div class="ten phone-three columns">
          <h1><a href="/">Skip &amp; Cal</a></h1>
          <p class="tagline">cartoons and comics by John Pray</p>
        </div>
        <div class="two phone-one columns">
          <%= link_to 'go to nav', '#controls', class: 'skip-to-nav small radius green button' %>
          <%= link_to('new comic', new_comic_path, class: "skip-to-nav small white radius button")if admin? %>
        </div>
      </div></header>

      <div class="row" id="content">
      	<div class="twelve columns">
          <%= render 'layouts/news' if @news %>
        	<%= yield %>
        </div>
      </div>

      <%= render 'layouts/nav' %>

    </div>
  </body>
</html>
