<!DOCTYPE html>
<html>
	<head>
	  <%= render 'layouts/head' %>
	  <%= render 'layouts/analytics' if Rails.env.production? %>
	</head>
	<body>
		<div class="container" id="content-container">
      <%= render 'layouts/ie6_warning' %>
      <%= render 'layouts/flash', flash: flash %>
      <header class="row" id="header">
        <div class="ten phone-three columns">
          <h1><a href="/">Skip &amp; Cal</a></h1>
          <p class="tagline">cartoons and comics by John Pray</p>
        </div>
        <div class="two phone-one columns">
          <%= link_to 'skip to nav', '#nav', class: 'skip-to-nav small radius green button' %>

          <% if controller.controller_name == 'comics' && controller.action_name == 'index' %>
            <% if params[:order] == 'old-first' %>
              <%= link_to 'see newest', url_for(category: params[:category]), class: 'change-order small radius green button' %>
            <% else %>
              <%= link_to 'see oldest', url_for(order: 'old-first', category: params[:category]), class: 'change-order small radius green button' %>
            <% end %>
          <% end %>

        </div>
      </header>

      <div class="row" id="content">
      	<div class="twelve columns">
        	<%= yield %>
        </div>
      </div>


      <%= render 'layouts/nav' %>

    </div>

      <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
