<!DOCTYPE html>
<html>
	<head>
	  <%= render 'layouts/head' %>
	  <%= render 'layouts/analytics' if Rails.env.production? %>
	</head>
	<body>
		<div class="container" id="content-container">
      <%= render 'layouts/ie6_warning' %>
      <%= render 'layouts/flash', flash: flash %>
      <header class="row">
        <div class="eight phone-three columns offset-by-one">
          <h1>Skip &amp; Cal</h1>
          <p class="tagline">cartoons and comics by John Pray</p>
        </div>
        <div class="two phone-one columns end">
          <%= link_to 'skip to nav', '#nav', class: 'skip-to-nav small radius green button' %>
        </div>
      </header>
      <div class="row">
      	<div class="ten columns offset-by-one" id="content">
        	<%= yield %>
        </div>
      </div>
    </div>
    <div id="nav-wrapper"><div class="container"><div class="row">
      <div class="twelve columns" id="nav">

        <h1><%= link_to 'Skip & Cal', '#' %></h1>
        <p class="tagline">Cartoons and comics by <%= link_to 'John Pray', 'http://johnpray.com' %></p>

        <h2>You are viewing</h2>
        <form class="controls form-vertical">
        	<select>
        		<option>All comics</option>
        	</select>
        	<select>
        		<option>from new to old</option>
        	</select>
        	<noscript>
        		<button class="btn" type="submit" value="Go"></input>
        	</noscript>
        </form>

        <h2><%= link_to 'Collections', '#' %></h2>
        <ul class="unstyled">
        	<li><%= link_to 'Skip & Cal', '#' %></li>
        	<li><%= link_to 'Editorial Cartoons', '#' %></li>
        	<li><%= link_to "Fan Comics and Nintendon'ts", '#' %></li>
        	<li><%= link_to "Cardinal Courier (2007-2011)", '#' %></li>
        	<li><%= link_to "Miscellaneous and Doodles", '#' %></li>
        </ul>

        <h2>Other Things</h2>
        <ul class="unstyled">
        	<li><%= link_to 'About', '#' %></li>
        	<li><%= link_to "Contact", '#' %></li>
        	<li><%= link_to "Twitter", '#' %></li>
        </ul>
      </div>
    </div></div></div>
      <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
